<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">Welcome to Alpha Blog!</p>
      <hr class="my-4">
      <p>Sign up to get started, or login if you already have an account.</p>
      <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
